@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');

.banner {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .cap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner p {
    font-family: "PT Serif", serif;
    font-size: 20px;
    color: #fff;
    z-index: 5;
}

.banner img {
    width: 150px; 
    z-index: 5;
    margin: 10px 0 10px 0;
}

.banner h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    font-family: "Gwendolyn", cursive;
    z-index: 5;
}

.banner h5 {
    font-family: "PT Serif", serif;
    color: #fff;
    font-size: 24px;
    z-index: 5;
    font-weight: normal;
}

@media (min-width: 786px) {
    .banner {
        height: 600px;
    }
    
    .banner p {
        font-size: 40px;
    }

    .banner img {
        width: 350px; 
    }

    .banner h2 {
        font-size: 90px;
    }

    .banner h5 {
        font-size: 50px;
    }
}